/venv/
*.xml
files/credentials.json
files/state_locations/AL_points.json
files/state_locations/AR_points.json
files/state_locations/GA_points.json
files/state_locations/IA_points.json
files/state_locations/IL_points.json
files/state_locations/IN_points.json
files/state_locations/KS_points.json
files/state_locations/KY_points.json
files/state_locations/MO_points.json
files/state_locations/MS_points.json
files/state_locations/NE_points.json
files/state_locations/OH_points.json
files/state_locations/OK_points.json
files/state_locations/TN_points.json
files/state_locations/TX_points.json
/files/state_raws/
/files/state_locations/
*.iml
files/tornado_collections/tornado_tracks.json
files/test_dump.json
functions/connect_to_db.py
functions/connect_to_db.py
files/output/exposures.csv
files/output/losses.csv
files/output/nlr.csv
files/output/premium.csv
